body {
	text-align:center;
}


#authentication_bg{
	width:480px;
	height:800px;
	background-image:url(../images/authentication_bg.png);
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#authentication_balloon{
	width:356px;
	height:70px;
	background-image:url(../images/authentication_balloon.png);
	margin:72px 52px 0px 47px;
	padding:0px 0px 0px 0px;
}

#authentication_button01 a{
	display:block;
	width:230px;
	height:230px;
	background-image:url(../images/authentication_button01.png);
	margin:125px 0px 0px 115px;
	padding:0px 0px 0px 0px;
}

#authentication_button01 a:hover{
	width:230px;
	height:230px;
	background-image:url(../images/authentication_button02.png);
	margin:125px 0px 0px 115px;
	padding:0px 0px 0px 0px;
}


#top_bg{
	width:480px;
	height:800px;
	background-image:url(../images/top_bg.png);
	margin:-10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#top_balloon{
	width:356px;
	height:70px;
	background-image:url(../images/top_balloon.png);
	margin:70px 52px 0px 47px;
	padding:0px 0px 0px 0px;
}


#top_dr{
	width:356px;
	height:156px;
	background-image:url(../images/top_dr.png);
	margin:80px 52px 0px 47px;
	padding:0px 0px 0px 0px;
}


#top_hh{
	width:356px;
	height:156px;
	background-image:url(../images/top_hh.png);
	margin:80px 52px 0px 47px;
	padding:0px 0px 0px 0px;
}


#sellect_bg_hh{
	width:480px;
	height:800px;
	background-image:url(../images/sellect_bg_hh.png);
	margin:-10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#sellect_bg_dr{
	width:480px;
	height:800px;
	background-image:url(../images/sellect_bg_dr.png);
	margin:-10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#sellect_ballon{
	width:356px;
	height:70px;
	background-image:url(../images/sellect_ballon.png);
	margin:42px 52px 0px 47px;
	padding:0px 0px 0px 0px;
}

#sellect_from{
	width:120px;
	height:160px;
	background-image:url(../images/sellect_from.png);
	margin:10px 0px 0px 22px;
	padding:0px 0px 0px 0px;
	display: block;
}


#sellect_from_ballon{
	width:265px;
	height:160px;
	background-image:url(../images/sellect_from_ballon.png);
	margin:-160px 0px 0px 140px;
	padding:0px 0px 0px 0px;
	display: block;
}


#sellect_cen_ballon{
	width:230px;
	height:130px;
	background-image:url(../images/sellect_cen_ballon.png);
	margin:10px 0px 0px 175px;
	padding:0px 0px 0px 0px;
}

#sellect_to_ballon{
	width:265px;
	height:160px;
	background-image:url(../images/sellect_to_ballon.png);
	margin:80px 0px 0px 42px;
	padding:0px 0px 0px 0px;
	display: block;
}


#sellect_to{
	width:120px;
	height:160px;
	background-image:url(../images/sellect_to.png);
	margin:-160px 0px 0px 300px;
	padding:0px 0px 0px 0px;
	display: block;
}

#sellect_submit_hh{
	width:355px;
	height:65px;
	background-image:url(../images/sellect_submit_hh.png);
	margin:20px 0px 0px 42px;
	padding:0px 0px 0px 0px;
	display: block;
}


#sellect_submit_dr{
	width:355px;
	height:65px;
	background-image:url(../images/sellect_submit_dr.png);
	margin:20px 0px 0px 42px;
	padding:0px 0px 0px 0px;
	display: block;
}



#form_from{
	width:150px;
	height:160px;
	font-size:120%;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	padding:50px 30px 10px 60px;
	display: block;
}


#form_to{
	width:150px;
	height:160px;
	font-size:120%;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	padding:50px 10px 10px 0px;
	display: block;
}


#form_cen{
	width:160px;
	height:180px;
	font-size:120%;
	margin:0px 0px 0px 0px;
	padding:10px 10px 10px 40px;
	display: block;
}
